.animation {
    width: 80px;
    height: auto;
    transition: transform 1s ease-in-out;
    -webkit-transition: -webkit-transform 1s ease-in-out;
    animation: earthAnimation 10s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

@keyframes earthAnimation {
    0%, 100% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(1800deg);
    }
    100% {
        transform: rotateY(3600deg);
    }
}

.animation:hover {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
}
